In [13]:
import numpy as np
from scipy import stats
import pandas as pd

In [113]:
gender = pd.DataFrame(np.random.choice(2,10000, p=[0.51, 0.49]))
age = pd.DataFrame(np.random.choice(5,10000, p=[0.1753, 0.1941, 0.1871, 0.2079, 0.2356]))
job = pd.DataFrame(np.random.choice(11,10000, p=[0.0230, 0.06, 0.2306, 0.1525, 0.2531, 0.0920, 0.07, 0.0340, 0.0546, 0.0076, 0.0226]))
family_size = pd.DataFrame(np.random.choice(4, 10000, p=[0.452, 0.208, 0.308, 0.032]))
child_num = pd.DataFrame(np.random.choice(4, 10000, p=[0.422, 0.217, 0.333, 0.028]))
income = pd.DataFrame(np.random.choice(6, 10000, p=[0.234, 0.284, 0.166, 0.118, 0.066, 0.132]))
knowledge = pd.DataFrame(np.random.choice(4, 10000, p=[0.537, 0.146, 0.183, 0.134]))
exp = pd.DataFrame(np.random.choice(4, 10000, p=[0.189, 0.15, 0.457, 0.204]))
risk = pd.DataFrame(np.random.choice(4,10000, p=[0.425, 0.432, 0.099, 0.044]))
term = pd.DataFrame(np.random.choice(4,10000, p=[0.136, 0.258, 0.360, 0.246]))

In [114]:
s1 = pd.DataFrame(0.821 * np.random.randn(10000) +2.645) 
s2 = pd.DataFrame(0.617 * np.random.randn(10000)+ 1.542)
s3 = pd.DataFrame(0.800 * np.random.randn(10000)+ 1.400)
s4 = pd.DataFrame(0.962 * np.random.randn(10000)+ 2.275)
s5 = pd.DataFrame(0.588 * np.random.randn(10000)+ 1.408)

In [115]:
data = pd.concat([gender,age,job,family_size,child_num,income,knowledge,exp,risk,term,s1,s2,s3,s4,s5],axis=1)
data.columns = ["gender","age","job","family_size","child_num","income","knowledge","exp","risk","term","s1","s2","s3","s4","s5"]

In [110]:
data

,gender,age,job,family_size,child_num,income,knowledge,exp,risk,term,s1,s2,s3,s4,s5
0,0,1,4,0,0,0,1,3,2,2,1.445225,2.008694,1.486878,1.937945,1.291326
1,1,0,4,3,0,5,2,2,1,3,2.613167,1.570438,0.880678,2.951382,1.611008
2,0,2,6,1,1,0,0,1,1,2,2.327145,0.960382,1.453057,1.990348,1.222475
3,1,4,4,0,0,1,2,2,0,1,2.715708,1.635769,0.465651,1.214520,0.946474
4,1,3,2,0,1,1,0,2,0,2,3.241083,1.185077,1.849169,1.965570,0.111041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,1,1,8,0,0,1,2,2,0,3,4.170058,1.358085,2.512451,1.900290,1.269243
49996,1,1,4,1,1,1,0,2,0,0,3.138154,1.089453,0.560489,3.032516,2.349829
49997,0,0,10,2,2,1,0,1,1,2,1.895335,1.019451,0.438927,0.723936,0.928638
49998,0,4,3,2,3,0,1,2,2,2,1.972585,2.157991,1.365595,3.988055,1.829310
49999,0,1,2,1,0,0,0,2,1,2,2.481146,1.432298,0.583937,2.944569,2.492062

In [116]:
data.to_csv('data8.csv')